/* .search:focus{
    box-shadow: none;

}
.search:hover{
    box-shadow: none;
} */
/* .carousel-image {
    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.5),
                10px 0 10px -5px rgba(0, 0, 0, 0.5);
  } */
  .custom-card{
    transition: .7s;
  }
  .custom-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* تأثير الظل عند التمرير بالماوس */
  }
  *{
    font-family: 'Almarai', sans-serif
  }
  .offers-content{
    font: normal normal 800 20px/22px Almarai;
  }
  .button{
    outline: none;
    border: 1px solid #424750;
    border-radius: 4px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color:#08324b;
    transition: .6s;
    padding: 7px;
    

}
.button:hover{
    background-color: #CB955B;
    color: #FFFFFF;
    border: none;
}
.Offer{
    font-family:" 'Almarai', sans-serif";
     color: "#3B3B3B";
     text-decoration: none;
}
.Offer a{
    text-decoration: none;
    list-style: none;
    color: "#3B3B3B";

}
.Offer{
    outline: none;
    border: none;
    background-color: #ffff;
    color: #424750;
    font-weight: bold;
}
/*Rent-contnt*/
.Rent-contnt{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.Rent-contnt a{ 
  font-size: 25px;
  text-decoration: none;
  color: #3B3B3B;
 font-family: " 'Almarai', sans-serif";
 font: normal normal 800 20px/22px Almarai;
}
/*Card-content*/
.Card-content{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 7px;
}
.Card-content img{
  margin-bottom: 17px;
  
}
.Card-content p{
  margin-right: 7px;
}
.Card-content{
  margin-right: 15px;
}
.Card-content p{
  font-size: 15px;
  color: gray;
}
.card .price{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;

}
.card .price h4,
.card .price p{
  margin-right: 10px;
  margin-top: 8px;
  font-size: 15px;
}
.card .price p{
  margin-top: 15px;
  color: #CB955B;
}
.card .price h4{
  color: #08324B;
}
/*Shipping*/
.Shipping{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}
.Shipping button{
  width: 55%;
  outline: none;
  border-radius: 12px;
  background: var(--unnamed-color-cb955b) 0% 0% no-repeat padding-box;
  background: #CB955B 0% 0% no-repeat padding-box;
  color: #08324B;
  border: none;
}
.Shipping p {
  margin-top: 12px;
}
.Shipping p img{
  margin-right: 5px;
  margin-bottom: 2px;
}
.fav{
  position:absolute;
   width:25px ;
    top :10px ;
     left:17px;
     cursor: pointer;
     transition: .7s;
     background-color: #ffff;
     padding: 5px;
     border-radius: 10px;
}
.fav:hover{
  background-color: red;
}
@media screen and (max-width: 1285px) {
  .g-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-12{
    width: 15rem;
  }
}
/*More Button*/
.More-Div{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 45px;
}
 .More{
  outline: none;
  border: none;
  color:#08324B ;
  padding: 7px;
  background-color: #D9D9D9;
  border-radius: 4px;
  transition: .7s;

}
.More:hover{
  background-color: #CB955B;
  color: #ffff;
}

